$color-primary1: #7b68ee;
$color-primary2: #77c9c9;
$color-additional1: #f59402;
$color-additional2: #f6db6f;
$color-light: #ffffff;
$color-text: #474848;
$color-hamburger: #29292a;

$content-width: 1197px;
// $color-background: #ffeee1;
