.header {
  background-color: $color-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  @extend %transition;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  @extend %font-prim;
  color: $color-text;
  font-size: 24px;
}

@media (max-width: 700px) {
  .header__title {
    font-size: 16px;
  }
}
