.statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.statistics__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  height: 71vh;
  overflow-y: scroll;
  color: gray;
  @extend %custom-scroll;
}

.table__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.table__row:first-child {
  cursor: pointer;
  @include color(45deg, $color-primary1, $color-primary2);
  order: 0;
  color: $color-light;
  position: sticky;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  top: 0;
}

.row__cell {
  flex-basis: calc(100% / 7);
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  height: 90px;
  outline: 1px solid rgba(0, 0, 0, 0.15);
  outline-offset: -1px;
}

.table__row:first-child .row__cell {
  outline: none;
}

.statistics__buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .statistics__buttons {
    height: 135px;
    flex-direction: column;
  }
}
