@import '../node_modules/swiper/css/swiper.css';
@import '../node_modules/swiper/css/swiper.min.css';

body {
    width: 100%;
    background-size: contain;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}

header {
    background: linear-gradient(180deg, rgb(189, 175, 226) 20%, rgb(115, 99, 156) 80%);
    font-family: 'hooked';
    font-size: 24px;
    color:  rgb(255, 199, 46);
    min-height: 100%;
    padding: 20px 0px;
}

main {
    height: 85vh;
    padding-bottom: 25px;
    background: linear-gradient(180deg, rgb(255, 233, 187) 20%, rgb(143, 135, 165) 80%);
}

footer {
    background: linear-gradient(180deg, rgb(133, 101, 221) 0%, rgb(77, 62, 114) 100%);
    color:  rgb(255, 199, 46);
    height: 10vh;
    margin:0;
    display:flex;
    justify-content: center;
}

.search_input {
    display:flex;
    justify-content: center;
    margin: 4vh;
}

.searchMovie_input {
    width: 40%;
    height: 35px;
    outline: none;
    color: black;
    background: none;
    resize: none;
    overflow: hidden;
    border: 3px solid rgb(236, 173, 0);
    font-size: 20px;
}

.search_btn {
    outline: none;
    color: rgb(236, 173, 0);
    border: none;
    width: 80px;
    height: 35px;
    text-align: center;
    background: rgb(109, 121, 173);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 20px;
}

.search_btn:hover {
    background: rgb(187, 175, 221);
    color: rgb(61, 60, 57);
}

.swiper-button-next,
.swiper-button-prev {
    height:60px;
    width:60px;
    /* background: rgb(19, 66, 85);
    box-shadow: rgb(19, 66, 85); */
    color: rgb(248, 250, 165);
    border: 4px solid white;
    border-radius: 50%;
}

.rate{ 
    font-size: 20px;
}

.star {
    width: 22px;
    padding-top: 2px;
}

a {
    color: rgb(61, 40, 95);
    text-decoration: none;
    margin-left: 20px;
}

a:hover {
    color: rgb(184, 84, 230);
}

.logo_github {
    margin-top: 2vh;
}

footer a{
    color:black;
    filter: blur(0.2px);
}

footer a:hover {
    transition: 0.2s;
    filter: blur(0.5px);
    color:rgb(248, 246, 246);
}

.total-results {
    margin-top: 2vh;
    color: rgb(255, 199, 46);
    font-size: 20px;
}

.search-results {
    margin-top: 2vh;
    color: rgb(78, 72, 53);
    font-size: 20px;
}

@media (max-width: 767px) { 
    .keyboard {
        display: none;
    }

    #keyboard-btn {
        display: none;
    }
}

.swiper-container {
    margin: auto;
    position: relative;
    width: 90%;
}

.poster {
    background-size: cover;
}

.poster img {
    border-radius: 6px;
    border: 3px solid rgb(45, 25, 160);
    height: 300px;
    width: 200px;
    position: relative;
}

.card-title {
    height: 40px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}